.footer {
  background-color: #100d0d;
  color: rgb(209, 205, 205);
  padding: 1rem 0 .05rem;
  font-size: 0.9rem;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1 1 200px;
  padding: 0 2rem;
  margin-bottom: 0rem;
}

.footer-title {
  color: #007bff;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer-text {
  line-height: 1.6;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-link {
  color: rgb(209, 205, 205);
  text-decoration: none;
  display: block;
  padding: 0.5rem 0;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #007bff;
}

.newsletter-form {
  display: flex;
  margin-top: 1rem;
}

.newsletter-input {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
  font-size: 0.9rem;
}

.newsletter-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-button:hover {
  background-color: #0056b3;
}

.social-links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.social-link {
  color: #007bff;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #0056b3;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  /* padding-top: 1rem; */
  border-top: 1px solid #ddd;
}

.copyright {
  color: #777;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-section {
    margin-bottom: 2rem;
  }
}